/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background: url('imagenes/Inagura2.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    overflow-y: auto; /* Permite el desplazamiento vertical */
    height: auto; /* Ajusta la altura automáticamente */
}

.container {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
}

h2 {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
}

button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    width: 200px;
}

input, select {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin: 10px 0;
}

/* Estilos para descuentos de lavadas */
.lavadora-icono {
    width: 30px;
    height: 30px;
    margin: 2px;
}
.lavadas-contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 10px 0;
}
/* Estilos para botones de redes sociales */
.social {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.social a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    width: 200px;
    text-align: center;
}

.whatsapp { background-color: #25D366; }
.facebook { background-color: #1877F2; }
.tienda { background-color: #ff9900; }
.ubicacion { background-color: #943988; }
.anuncios { background-color: #ff4500; } /* Nuevo estilo para el botón de Anuncios */

/* Responsividad */
@media screen and (max-width: 600px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    button {
        width: 100%;
    }
}

.gasto-form {
    background: rgba(255,255,255,0.95);
    color: black;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .gasto-form input {
    margin: 5px;
    padding: 8px;
    border-radius: 5px;
    width: 200px;
  }
  .gasto-form {
    background: rgba(255,255,255,0.95);
    color: black;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .gasto-form input {
    margin: 5px;
    padding: 8px;
    border-radius: 5px;
    width: 200px;
  }    
  